main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-image: url(../img/folder1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;

}

#section_contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 20px 20px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
        rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
        rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
        rgba(0, 0, 0, 0.06) 0px 2px 1px,
        rgba(0, 0, 0, 0.09) 0px 4px 2px,
        rgba(0, 0, 0, 0.09) 0px 8px 4px,
        rgba(0, 0, 0, 0.09) 0px 16px 8px,
        rgba(0, 0, 0, 0.09) 0px 32px 16px;
    border-radius: 5px;
    margin-top: 50px;
}

#section_contact h2 {
    font-size: 3.25em;
    font-weight: 200;
    color: #f0ffff;
    text-shadow: 0px 0px 5px #5f5f5f;
}

#section_contact form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 90%;
}

form label {
    font-size: 1.50em;
    font-weight: 200;
    color: #f0ffff;
    text-shadow: 0px 0px 5px #5f5f5f;
    margin: 5px;
}

form input {
    height: 5%;
    width: 50%;
    padding: 10px;
    margin: 10px;
    border: 0.5mm ridge rgba(255, 255, 255, 0.3);
    border-radius: 5px;
}

form textarea {
    width: 50%;
    border: 0.5mm ridge rgba(255, 255, 255, 0.3);
    border-radius: 5px;
}

form button {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 10%;
    min-width: 15%;
    color: #683c25;
    font-size: 1rem;
    font-weight: 400;
    text-shadow: 0px 0px 5px #ffffff;
    background: rgba(240, 255, 255, 0.2);
    border: 0.5mm ridge rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    margin: 20px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

form button:hover {
    font-size: 1rem;
    font-weight: 310;
    color: #f0ffff;
    text-decoration: none;
    background: rgba(240, 255, 255, 0.2);
    box-shadow: rgba(240, 255, 255, 0.2) 0px 0px 15px 5px;
    transform: scale(1.1);
}

/* ---------- |Responsive| ---------- */
@media screen and (min-width: 320px) and (max-width: 480px) {
    section {
        min-height: 80%;
        min-width: 90%;
    }

    form input {
        min-width: 80%;
    }

    form textarea {
        min-width: 80%;
    }

    form button {
        min-width: 50%;
    }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
    section {
        min-height: 80%;
        min-width: 90%;
    }

    form input {
        min-width: 80%;
    }

    form textarea {
        min-width: 80%;
    }

    form button {
        min-width: 30%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1300px) {
    section {
        min-height: 80%;
        min-width: 90%;
    }

    form input {
        max-width: 80%;
    }

    form textarea {
        max-width: 80%;
    }

    form button {
        max-width: 20%;
    }
}

/* ---------- |Page Thanks| ---------- */
body {
    height: 100vh;
    width: 100vw;
    background-image: url(../img/folder1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

#main {
    display: flex;
    align-items: center;
    justify-content: center;
}

#thanks {
    font-size: 2.50em;
    font-weight: 200;
    color: #f0ffff;
    text-shadow: 0px 0px 5px #ffffff;
}

#paragraph {
    font-size: 1.50em;
    font-weight: 200;
    color: #f0ffff;
    text-shadow: 0px 0px 5px #ffffff;
}

#home {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 5%;
    min-width: 10%;
    color: #f0ffff;
    font-size: 1.25rem;
    font-weight: 300;
    text-shadow: 0px 0px 5px #ffffff;
    background: rgba(240, 255, 255, 0.2);
    border: 0.5mm ridge rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    margin-bottom: 100px;
    cursor: pointer;
    text-decoration: none;
    transition: transform 0.3s ease;
}

#home:hover {
    font-size: 1.35rem;
    font-weight: 500;
    color: #683c25;
    text-decoration: none;
    background: rgba(240, 255, 255, 0.2);
    box-shadow: rgba(240, 255, 255, 0.2) 0px 0px 15px 5px;
    transform: scale(1.1);
}

/* ---------- |Responsive Page Thanks| ---------- */
@media screen and (min-width: 320px) and (max-width: 768px) {

    #thanks,
    #paragraph {
        margin-right: 10%;
        margin-left: 10%;
        text-align: center;
    }

    #home {
        min-width: 30%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    #home {
        width: 20%;
    }
}