body {
    background-image: url(../img/folder1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    max-height: 50%;
    width: 50%;
    margin: 6%;
}

#section_contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 60vw;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 20px 20px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
        rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
        rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
        rgba(0, 0, 0, 0.06) 0px 2px 1px,
        rgba(0, 0, 0, 0.09) 0px 4px 2px,
        rgba(0, 0, 0, 0.09) 0px 8px 4px,
        rgba(0, 0, 0, 0.09) 0px 16px 8px,
        rgba(0, 0, 0, 0.09) 0px 32px 16px;

}

#section_contact h2 {
    font-size: 3.25em;
    font-weight: 200;
    color: #f0ffff;
    text-shadow: 2px 2px 5px #000000;

}

#section_contact form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

form label {
    font-size: 1.50em;
    font-weight: 200;
    color: #f0ffff;
    text-shadow: 2px 1px 3px #000000;
    margin: 5px;
}

form input {
    height: 5%;
    width: 50%;
    padding: 10px;
    margin: 10px;
    border: 0.5mm ridge rgba(255, 255, 255, 0.3);
    border-radius: 5px;
}

form textarea {
    height: 50%;
    width: 50%;
    border: 0.5mm ridge rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    overflow: hidden;
}

form button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 9%;
    width: 16%;
    color: #683c25;
    font-size: 1rem;
    font-weight: 800;
    text-shadow: 0px 0px 5px #ffffff;
    background: rgba(61, 61, 61, 0.3);
    border: 0.5mm ridge rgba(248, 247, 247, 0.5);
    border-radius: 10px;
    margin: 20px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    margin-top: 6%;
    box-shadow: rgba(255, 254, 254, 0.50) 0px 0px 5px;
}

form button:hover {
    font-size: 1rem;
    font-weight: 600;
    color: #f0ffff;
    text-decoration: none;
    text-shadow: 1px 1px 3px #000000;
    background: rgba(61, 61, 61, 0.3);
    border: 0.5mm ridge rgba(255, 255, 255, 0.6);
    box-shadow: rgba(240, 255, 255, 0.2) 0px 0px 15px 5px;
    transform: scale(1.1);
}

/* ---------- |Responsive| ---------- */
@media screen and (min-width: 320px) and (max-width: 480px) {

    main {
        min-height: 100%;
        min-width: 100%;
        margin: 13%;
    }

    #section_contact {
        min-height: 90%;
        min-width: 90%;
        margin: 20%;
    }

    form input {
        min-width: 80%;
    }

    form textarea {
        min-width: 80%;
    }

    form button {
        height: 8%;
        width: 50%;
    }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
    main {
        min-height: 100%;
        min-width: 100%;
    }

    #section_contact {
        min-height: 90%;
        min-width: 90%;
        margin: 20%;
    }

    form input {
        min-width: 80%;
    }

    form textarea {
        min-width: 80%;
    }

    form button {
        min-width: 30%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1300px) {
    main {
        min-height: 100%;
        min-width: 100%;
    }

    #section_contact {
        min-height: 90%;
        min-width: 90%;
        margin: 10%;
    }

    form input {
        max-width: 80%;
    }

    form textarea {
        max-width: 80%;
    }

    form button {
        /* min-width: 20%; */
    }
}