@import url("https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,400,400italic");

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
}

.container {
  position: absolute;
  display: flex;
  height: 10vh;
  width: 100vw;
}

#nav-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 10vh;
  width: 100vw;
  margin-left: 200px;
}

#nav-list {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  height: 80%;
  min-width: 50%;
}

#nav-list li {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 120px;
  border-radius: 10px;
  text-shadow: 0px 0px 5px #ffffff;
}

#nav-list a:hover {
  color: #683c25;
  font-size: 1rem;
}

#nav-list li:hover {
  background: rgba(240, 255, 255, 0.3);
  border: 0.5mm ridge rgba(255, 255, 255, 0.2);
  box-shadow: rgba(240, 255, 255, 0.3) 0px 0px 15px 5px;
}

#nav-list a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  color: #f0ffff;
}

/* ----------|Mobile-Menu|---------- */
#btn-mobile {
  display: none;
}

/* ----------|Mobile-Menu-Responsive|---------- */
@media screen and (min-width: 320px) and (max-width: 768px) {
  #btn-mobile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 100px;
    background: rgba(240, 255, 255, 0.3);
    border: 0.5mm ridge rgba(255, 255, 255, 0.2);
    box-shadow: rgba(240, 255, 255, 0.3) 0px 0px 15px 5px;
    font-size: 1rem;
    font-weight: 500;
    color: #f0ffff;
    text-shadow: 0px 0px 5px #ffffff;
    border-radius: 10px;
    cursor: pointer;
    gap: .5rem;
  }

  #btn-mobile:hover {
    box-shadow: rgba(240, 255, 255, 0.3) 0px 0px 15px 5px;
    color: #683c25;
    font-size: 1rem;
  }

  #hamburger {
    display: block;
    border-top: 2px solid;
    width: 20px;
  }

  #hamburger::after,
  #hamburger::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    margin-top: 5px;
    background: currentColor;
    transition: .4s;
    position: relative;
  }

  #nav-container.active #hamburger {
    border-top-color: transparent;
  }

  #nav-container.active #hamburger::before {
    transform: rotate(135deg);
  }

  #nav-container.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }

  #nav-container {
    margin-right: 20px;
  }

  #nav-list {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
    height: 0px;
    top: 10vh;
    margin: auto;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: .6s;
    z-index: 1000;
    overflow: hidden;
  }

  #nav-container.active #nav-list {
    height: calc(100vh - 10vh);
    visibility: visible;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    overflow-y: auto;
  }

  #nav-container.active #nav-list {
    display: flex;
  }

}

/* --------------------------------- */
#folder1 {
  height: 100vh;
  width: 100vw;
  background-image: url(../img/folder1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#folder1 header {
  height: 80%;
  min-width: 80%;
  display: grid;
  align-items: center;
  justify-items: start;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

#folder1 header h1 {
  font-size: 3.25em;
  font-weight: 200;
  color: #f0ffff;
  text-shadow: 0px 0px 5px #ffffff;
  grid-column: 2 / 2;
  grid-row: 1 / 1;
  margin-left: -100px;

}

#folder1 header h2 {
  grid-column: 1 / 3;
  grid-row: 2 / 2;
  font-size: 2.25em;
  font-weight: 200;
  color: #f0ffff;
  text-shadow: 0px 0px 5px #ffffff;
  margin-top: 100px;
}

#folder1 header #cv-btn {
  height: 50px;
  width: 150px;
  grid-column: 1 / 2;
  grid-row: 3 / 3;
  color: #f0ffff;
  font-size: 1rem;
  font-weight: 300;
  text-shadow: 0px 0px 5px #ffffff;
  background: rgba(240, 255, 255, 0.2);
  border: 0.5mm ridge rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  margin-right: auto;
  cursor: pointer;
}

#folder1 header #cv-btn:hover {
  color: #683c25;
  font-size: 1rem;
  font-weight: 500;
  text-shadow: 0px 0px 10px #ffffff;
  background: rgba(240, 255, 255, 0.3);
  box-shadow: rgba(240, 255, 255, 0.2) 0px 0px 15px 5px;
  transform: scale(1.1);
}

#folder1 header #lkd-btn {
  height: 50px;
  width: 150px;
  grid-column: 1/ 2;
  grid-row: 3 / 3;
  background: rgba(240, 255, 255, 0.3);
  border: 0.5mm ridge rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  margin-left: 200px;
  cursor: pointer;
}

#folder1 header #lkd-btn:hover {
  transform: scale(1.1);
}

#folder1 header #lkd-btn a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #683c25;
  font-size: 1rem;
  font-weight: 500;
  text-shadow: 0px 0px 5px #ffffff;
  text-decoration: none;
  height: 100%;
  width: 100%
}

#folder1 header #lkd-btn a:hover {
  font-weight: 500;
  color: #f0ffff;
  text-decoration: none;
  background: rgba(240, 255, 255, 0.2);
  box-shadow: rgba(240, 255, 255, 0.2) 0px 0px 15px 5px;
}

/* ----------|Animation|---------- */
.animated-btn {
  outline: 0.1rem ridge;
  outline-color: rgba(255, 255, 255, 0.2);
  outline-offset: 0.5px;
  transition: all 500ms cubic-bezier(0.2, 0, 0, 0.8);
}

.animated-btn:hover {
  color: rgba(255, 255, 255, 0.2);
  outline: rgba(255, 255, 255, 0.2);
  outline-offset: 500px;
}

/* -------------------------------- */

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-text {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2px;
  background-color: white;
}

.container-text p {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 70px;
  max-width: 800px;
  margin: 10px;
  text-align: center;
  font-family: sans-serif;
  font-size: large;
  font-weight: 400;
  font-weight: 500;
  color: #888;
}

.container-projet {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../img/folder2.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
}

.container-test {
  height: 100vh;
  width: 98vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  height: 20vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #4d4332;
  border-radius: 5px;
  font-size: large;
  font-weight: 400;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 0;
}

/* ----------|Responsive|---------- */
@media screen and (min-width: 320px) and (max-width: 480px) {

  #folder1 header {
    height: 80%;
    min-width: 80%;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  #folder1 header h1 {
    font-size: 3.25em;
    font-weight: 100;
    color: #f0ffff;
    text-shadow: 0px 0px 5px #ffffff;
    grid-column: 2 / 2;
    grid-row: 1 / 1;
    margin-left: -250px;
  }

  #folder1 header h2 {
    grid-column: 2 / 2;
    grid-row: 2 / 2;
    font-size: 1.25em;
    font-weight: 100;
    color: #f0ffff;
    text-shadow: 0px 0px 5px #ffffff;
    margin-left: -245px;
    margin-bottom: auto;
  }

  #folder1 header #cv-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 150px;
    grid-column: 1 / 2;
    grid-row: 3 / 3;
    color: #f0ffff;
    font-size: 1rem;
    font-weight: 100;
    text-shadow: 0px 0px 5px #ffffff;
    background: rgba(240, 255, 255, 0.2);
    border: 0.5mm ridge rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    margin-left: 30px;
    margin-bottom: 20px;
    cursor: pointer;
  }

  #folder1 header #lkd-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 150px;
    grid-column: 1/ 2;
    grid-row: 3 / 3;
    color: #683c25;
    font-size: 1.1rem;
    font-weight: 300;
    text-shadow: 0px 0px 5px #ffffff;
    background: rgba(240, 255, 255, 0.3);
    border: 0.5mm ridge rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    margin-left: 30px;
    margin-top: 130px;
    cursor: pointer;
  }


}

@media screen and (min-width: 480px) and (max-width: 768px) {


  #folder1 header {
    height: 80%;
    min-width: 80%;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  #folder1 header h1 {
    font-size: 3.25em;
    font-weight: 100;
    color: #f0ffff;
    text-shadow: 0px 0px 5px #ffffff;
    grid-column: 2/ 2;
    grid-row: 1 / 1;
    margin-left: -310px;
  }

  #folder1 header h2 {
    grid-column: 2 / 2;
    grid-row: 2 / 2;
    font-size: 2.25em;
    font-weight: 100;
    color: #f0ffff;
    text-shadow: 0px 0px 5px #ffffff;
    margin-left: -240px;
    margin-bottom: auto;

  }

  #folder1 header #cv-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 150px;
    grid-column: 1 / 2;
    grid-row: 3 / 3;
    color: #f0ffff;
    font-size: 1rem;
    font-weight: 100;
    text-shadow: 0px 0px 5px #ffffff;
    background: rgba(240, 255, 255, 0.2);
    border: 0.5mm ridge rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    margin-left: 100px;
    margin-bottom: 20px;
    cursor: pointer;
  }

  #folder1 header #lkd-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 150px;
    grid-column: 2/ 2;
    grid-row: 3 / 3;
    color: #683c25;
    font-size: 1.1rem;
    font-weight: 300;
    text-shadow: 0px 0px 5px #ffffff;
    background: rgba(240, 255, 255, 0.3);
    border: 0.5mm ridge rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    margin-left: -55px;
    margin-top: -19px;
    cursor: pointer;
  }

}

@media screen and (min-width: 768px) and (max-width: 1024px) {

  #folder1 header {
    height: 80%;
    min-width: 80%;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  #folder1 header h1 {
    font-size: 3.25em;
    font-weight: 100;
    color: #f0ffff;
    text-shadow: 0px 0px 5px #ffffff;
    grid-column: 2 / 2;
    grid-row: 1 / 1;
    margin-left: -300px;
  }

  #folder1 header h2 {
    grid-column: 1 / 3;
    grid-row: 2 / 2;
    font-size: 2.25em;
    font-weight: 100;
    color: #f0ffff;
    text-shadow: 0px 0px 5px #ffffff;
    margin-left: 85px;
    margin-bottom: auto;
  }

  #folder1 header #cv-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 150px;
    grid-column: 1 / 2;
    grid-row: 3 / 3;
    color: #f0ffff;
    font-size: 1rem;
    font-weight: 100;
    text-shadow: 0px 0px 5px #ffffff;
    background: rgba(240, 255, 255, 0.2);
    border: 0.5mm ridge rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    margin-left: 250px;
    margin-bottom: 20px;
    cursor: pointer;
  }

  #folder1 header #lkd-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 150px;
    grid-column: 2/ 2;
    grid-row: 3 / 3;
    color: #683c25;
    font-size: 1.1rem;
    font-weight: 300;
    text-shadow: 0px 0px 5px #ffffff;
    background: rgba(240, 255, 255, 0.3);
    border: 0.5mm ridge rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    margin-left: -80px;
    margin-top: -19px;
    cursor: pointer;
  }

}