body {
    background-image: url(../img/folder1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center
}

main {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 90vw;
    margin: auto;
}

h1 {
    font-size: 3.25em;
    font-weight: 500;
    color: #f0ffff;
    text-shadow: 2px 2px 5px #000000;
}

p {
    font-size: 1.5em;
    font-weight: 200;
    color: #f0ffff;
    text-shadow: 2px 2px 5px #000000;
}

a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7%;
    width: 10%;
    color: #f0ffff;
    font-size: 1.4rem;
    font-weight: 500;
    text-shadow: 0px 0px 5px #ffffff;
    background: rgba(61, 61, 61, 0.3);
    border: 0.5mm ridge rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    margin-top: 50px;
    cursor: pointer;
    text-decoration: none;
    transition: transform 0.3s ease-in-out;
}

a:hover {
    font-weight: 400;
    color: #f0ffff;
    text-decoration: none;
    background: rgba(61, 61, 61, 0.3);
    box-shadow: rgba(240, 255, 255, 0.1) 0px 0px 15px 5px;
    transform: scale(1.1);
}

/* ---------- |Responsive Page Thanks| ---------- */
@media screen and (min-width: 320px) and (max-width: 480px) {

    h1,
    p {
        margin-right: 10%;
        margin-left: 10%;
        text-align: center;
    }

    a {
        min-width: 30%;
    }
}

@media screen and (min-width: 480px) and (max-width: 768px) {

    h1,
    p {
        margin-right: 10%;
        margin-left: 10%;
        text-align: center;
    }

    a {
        min-width: 30%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1300px) {

    h1,
    p {
        margin-right: 10%;
        margin-left: 10%;
        text-align: center;
    }

    a {
        width: 20%;
    }
}